body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    padding: 10px;
    background: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item.done .text {
    text-decoration: line-through;
    color: #777;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    padding: 5px 10px;
    font-size: 12px;
}
.actions button:nth-child(2) {
    background: #dc3545;
}

.actions button:nth-child(2):hover {
    background: #a71d2a;
}

.actions button:nth-child(1) {
    background:#28a745;
}

.actions button:nth-child(1):hover {
    background:#1e7e34;
}

.text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 200px;
    white-space: normal;
}